<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Goku Ultra Instinto</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content id="contenido">
  <ionic-grid>
    <ion-row>
      <ion-col >
        <img src="assets/img/ultrains.jpg" width="450" height="300"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <h1 >Doctrina Egoista</h1>
      
      <p>Es una habilidad psicológica suprema que separa la conciencia del cuerpo, lo que le permite al usuario moverse y combatir independientemente de los pensamientos y emociones de un artista marcial. Es una técnica extraordinariamente difícil de dominar por completo, incluso deidades como los Dioses de la Destrucción tienen complicaciones al aprenderla, sin embargo, algunos ángeles guía parecen tener un control óptimo de ella.</p>

  
  </ion-row>
</ionic-grid>    

</ion-content>
