<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/home">  </ion-back-button>
    </ion-buttons>

    <ion-title>LInterna Verde</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content id="contenido">
    <ionic-grid>
      <ion-row>
        <ion-col >
          <img src="assets/img/linterna.jpg" width="450"  class="fototema"/>
        </ion-col>
      </ion-row>
      <ion-row>
        <h1 >LInterna Verde</h1>
        <p >
          La película narra la historia de Hal Jordan, un piloto de pruebas, que es elegido por el anillo del moribundo alienígena Abin Sur, para convertirse en el primer humano seleccionado para el Cuerpo de Linternas Verdes, y el enfrentamiento con sus nuevos poderes, contra Parallax, quién amenaza con destruir el universo.</p>
      </ion-row>
    </ionic-grid>

   
     
    <ion-card-content>
