<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Super Heroes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true">

    <ion-slide>

     
      <h2>Goku Ultra Instinto </h2>
      <img src="assets/img/ultrains.jpg">
      <p>El Ultra Instinto (también conocido como Doctrina Egoísta) es un estado mental divino y una habilidad que hace a Goku capaz de moverse y combatir independientemente de sus pensamientos y emociones. <a href="ultra-instinto" class=link>Leer mas...</a></p>

    </ion-slide>

    <ion-slide>

      <img src="assets/img/linterna.jpg" >
      <h2>Linterna Verde</h2>
      <p>El juramento de los Linternas Verdes es pronunciado por estos cuando cargan su anillo con la batería personal de poder. En el día más brillante, en la noche más oscura, ¡ningún mal escapará de mi vista!.<a href="linterna-verde" class=link>Leer mas...</a></p>

    </ion-slide>

    <ion-slide>

      <img src="assets/img/superman.jpg" >
      <h2>Superman</h2>
      <p>Clark Kent, también conocido por su nombre de nacimiento Kal-El o por su nombre de superhéroe Superman, es un personaje ficticio y superhéroe de las películas del Universo extendido de DC, <a href="superman" class=link>Leer mas...</a></p>

    </ion-slide>

  </ion-slides>
</ion-content>
